In [1]:
import numpy as np
import pandas as pd

import spacy
import nltk

In [2]:
df = pd.read_csv("1661-0.txt", delimiter="/n", header=None)

C:\Users\Apurav\AppData\Local\Temp\ipykernel_8936\4149264441.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("1661-0.txt", delimiter="/n", header=None)

In [3]:
df

                                                      0
0     Project Gutenberg's The Adventures of Sherlock...
1     This eBook is for the use of anyone anywhere a...
2     almost no restrictions whatsoever.  You may co...
3     re-use it under the terms of the Project Guten...
4        with this eBook or online at www.gutenberg.net
...                                                 ...
9628                        facility: www.gutenberg.org
9629  This Web site includes information about Proje...
9630  including how to make donations to the Project...
9631  Archive Foundation, how to help produce our ne...
9632  subscribe to our email newsletter to hear abou...

[9633 rows x 1 columns]

In [4]:
df.isna().sum()

0    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9633 entries, 0 to 9632
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       9633 non-null   object
dtypes: object(1)
memory usage: 75.4+ KB

In [6]:
df[0][0]

"Project Gutenberg's The Adventures of Sherlock Holmes, by Arthur Conan Doyle"

In [7]:
nlp = spacy.load('en_core_web_lg')

def preprocess (text):
    text = text.lower()
    doc = nlp(text)

    new_text = []

    for word in doc:
        if not(word.is_punct or word.is_stop or word.like_num or word.like_url or word.like_email or word.is_space):
            new_text.append(word.lemma_)
    
    new_text = " ".join(new_text)
    return new_text

In [8]:
processed = df[0].apply(preprocess)

:

In [24]:
processed

0       project gutenberg adventure sherlock holmes ar...
1                                          ebook use cost
2                        restriction whatsoever copy away
3              use term project gutenberg license include
4                                            ebook online
                              ...
9628                                             facility
9629    web site include information project gutenberg tm
9630          include donation project gutenberg literary
9631            archive foundation help produce new ebook
9632            subscribe email newsletter hear new ebook
Name: 0, Length: 9633, dtype: object

In [25]:
df.isna().sum()

0    0
dtype: int64

In [34]:
processed[9]

'language english'

In [59]:
from nltk import word_tokenize

bi_gram = []

def bi_gram_collection(text):
    text = word_tokenize(text)
    print(text)

    for i in range(0, len(text) - 1):
        bi_gram.append()
    
    # for i in range(len(0, len(doc - 1))):
    #     bi_gram.append(doc[i])
    #     i += 1

In [60]:
bi_gram_collection(processed[0])

['project', 'gutenberg', 'adventure', 'sherlock', 'holmes', 'arthur', 'conan', 'doyle']